/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background: #e6e6e6;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto auto;
  color: black;
}

/* Style the links inside the navigation bar */
.navbar select {
  float: right;
  display: block;
  text-align: center;
  background: #e6e6e6;
  border: solid 0.5px;
}

.navbar label {
  float: right;
  display: block;
  text-align: center;
}

#child {
    margin: auto auto;
    text-align: right;
}

