 <div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Hiển thị giao dịch</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Hiển thị các giao dịch</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="pageGetListrans(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> giao dịch</label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group row">
                        <label for="formdate" class="col-sm-5 text-right control-label col-form-label">Từ Ngày</label>
                        <div class="input-group col-sm-7">
                          <input type="text" class="form-control mydatepicker" id="fromdateVal" placeholder="mm/dd/yyyy"
                            #timefromdate>
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group row">
                        <label for="todate" class="col-sm-5 text-right control-label col-form-label">Đến Ngày</label>
                        <div class="input-group col-sm-7">
                          <input type="text" class="form-control mydatepicker" id="todateVal" placeholder="mm/dd/yyyy"
                            #timetodate>
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-1">
                      <div class="form-group row">
                        <div class="input-group col-sm-8">
                          <button type="button" class="btn btn-primary" (click)="loadView()">Xem</button>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-1">
                      <div class="form-group row">
                        <div class="input-group col-sm-8">
                          <button type="button" class="btn btn-primary" (click)="exportExcel()">Xuất File</button>
                        </div>
                      </div>
                  </div>

                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['partner'], 'sorting_asc': sortOption['partner'] && isAsc, 'sorting_desc': sortOption['partner'] && !isAsc}"
                          (click)="sort('partner')">
                          <span>Đối tác</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['intro'], 'sorting_asc': sortOption['intro'] && isAsc, 'sorting_desc': sortOption['intro'] && !isAsc}"
                          (click)="sort('intro')">
                          <span>Người giới thiệu</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['member'], 'sorting_asc': sortOption['member'] && isAsc, 'sorting_desc': sortOption['member'] && !isAsc}"
                          (click)="sort('member')">
                          <span>Thành viên</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['customer'], 'sorting_asc': sortOption['customer'] && isAsc, 'sorting_desc': sortOption['customer'] && !isAsc}"
                          (click)="sort('customer')">
                          <span>Khách hàng</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['amount'], 'sorting_asc': sortOption['amount'] && isAsc, 'sorting_desc': sortOption['amount'] && !isAsc}"
                          (click)="sort('amount')">
                          <span *ngIf="roleUserID != 4">Số tiền</span>
                          <span *ngIf="roleUserID == 4">Số điểm</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['location'], 'sorting_asc': sortOption['location'] && isAsc, 'sorting_desc': sortOption['location'] && !isAsc}"
                          (click)="sort('location')">
                          <span>Địa điểm</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['created_at'], 'sorting_asc': sortOption['created_at'] && isAsc, 'sorting_desc': sortOption['created_at'] && !isAsc}"
                          (click)="sort('created_at')">
                          <span>Ngày</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let trans of listrans">
                        <td>{{trans.namePartner}}</td>
                        <td>{{trans.intro}}</td>
                        <td>{{trans.member}}</td>
                        <td>{{trans.customer}}</td>
                        <td *ngIf="roleUserID != 4">{{trans.amount | number : fractionSize }}</td>
                        <td *ngIf="roleUserID == 4">{{trans.amount / 100000 | number : fractionSize }}</td>
                        <td>{{trans.address}}</td>
                        <td>{{trans.created_at | date:'dd/MM/yyyy' }}</td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listrans.length">
                      <tr>
                        <th class="th-bold">Đối tác</th>
                        <th class="th-bold">Người giới thiệu</th>
                        <th class="th-bold">Thành viên</th>
                        <th class="th-bold">Khách hàng</th>
                        <th *ngIf="roleUserID != 4" class="th-bold">Số tiền</th>
                        <th *ngIf="roleUserID == 4" class="th-bold">Số điểm</th>
                        <th class="th-bold">Địa điểm</th>
                        <th class="th-bold">Ngày</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listrans.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} tài khoản</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="pageGetListrans(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="pageGetListrans(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="pageGetListrans(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-5">
                      <div class="form-group row">
                        <label for="formdate" class="col-sm-5 text-right control-label col-form-label">Từ Ngày</label>
                        <div class="input-group col-sm-7">
                          <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy"
                            #tcfromdate>
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <div class="form-group row">
                        <label for="todate" class="col-sm-5 text-right control-label col-form-label">Đến Ngày</label>
                        <div class="input-group col-sm-7">
                          <input type="text" class="form-control mydatepicker" disabled="" [(ngModel)]="tctodateVal" placeholder="mm/dd/yyyy"
                            #tctodate>
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group row">
                        <div class="input-group col-sm-8">
                          <button type="button" class="btn btn-primary" (click)="loadViewChart()">Xem</button>
                        </div>
                      </div>
                  </div>
                </div>
              <div style="display: block;">
                <canvas baseChart class="col-sm-12" 
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 navbar">
  <div class="col-sm-12 navbar-collapse">
    <div class="col-sm-12 float-right row">
      <label id="child" class="col-sm-4">Tổng tiền: <span>{{ TotalAmount | number : fractionSize}} VND</span></label>
      <label id="child" class="col-sm-4">Thời Gian:</label>
      <select [ngModel]="selectedMonth" (ngModelChange)="onChange($event)"class="col-sm-4 form-control">
        <option value="0" selected="true">Tháng Hiện Tại</option>
        <option value="1">1 Tháng</option>
        <option value="3">3 Tháng</option>
        <option value="6">6 Tháng</option>
        <option value="12">12 Tháng</option>
      </select>
    </div>
  </div>
</div>