<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Quản lý giao dịch</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Quản lý giao dịch</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
  	  <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getTransaction(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> Giao dịch</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold">
                          <span>#STT</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['member'], 'sorting_asc': sortOption['member'] && isAsc, 'sorting_desc': sortOption['member'] && !isAsc}"
                          (click)="sort('member')">
                          <span>Thành viên</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['customer'], 'sorting_asc': sortOption['customer'] && isAsc, 'sorting_desc': sortOption['customer'] && !isAsc}"
                          (click)="sort('customer')">
                          <span>Khách hàng</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['introducer'], 'sorting_asc': sortOption['introducer'] && isAsc, 'sorting_desc': sortOption['introducer'] && !isAsc}"
                          (click)="sort('introducer')">
                          <span>Người giới thiệu</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['amount'], 'sorting_asc': sortOption['amount'] && isAsc, 'sorting_desc': sortOption['amount'] && !isAsc}"
                          (click)="sort('amount')">
                          <span>Tiền</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['address'], 'sorting_asc': sortOption['address'] && isAsc, 'sorting_desc': sortOption['address'] && !isAsc}"
                          (click)="sort('address')">
                          <span>Địa chỉ</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['desc'], 'sorting_asc': sortOption['desc'] && isAsc, 'sorting_desc': sortOption['desc'] && !isAsc}"
                          (click)="sort('desc')">
                          <span>Ghi chú</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['created_at'], 'sorting_asc': sortOption['created_at'] && isAsc, 'sorting_desc': sortOption['created_at'] && !isAsc}"
                          (click)="sort('created_at')">
                          <span>Thời gian</span>
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tran of listTrans; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{tran.member}}</td>
                        <td>{{tran.customer}}</td>
                        <td>{{tran.introducer}}</td>
                        <td>{{tran.amount | number}}</td>
                        <td>{{tran.address}}</td>
                        <td>{{tran.desc}}</td>
                        <td>{{tran.created_at * 1000 | date:'dd/MM/yyyy'}}</td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listTrans.length">
                      <tr>
                        <th class="th-bold">#STT</th>
                        <th class="th-bold">Thành viên</th>
                        <th class="th-bold">Khách hàng</th>
                        <th class="th-bold">Người giới thiệu</th>
                        <th class="th-bold">Tiền</th>
                        <th class="th-bold">Địa chỉ</th>
                        <th class="th-bold">Ghi chú</th>
                        <th class="th-bold">Thời gian</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listTrans.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} giao dịch, Tổng tiền: {{ amount | number}} VND</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransaction(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransaction(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransaction(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>