<aside class="left-sidebar" data-sidebarbg="skin5">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav" class="p-t-30">
        
        <!-- Start Dashboard -->
        <li class="sidebar-item" (click)="setActive(1)" [ngClass]="{'selected': activeNav === 1}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="" aria-expanded="false">
            <i class="mdi mdi-view-dashboard"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard -->

        <!-- Start User Manager -->
        <li class="sidebar-item" [ngClass]="{'selected': activeNav === 2}">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-account-card-details"></i>
            <span class="hide-menu">Quản lý tài khoản </span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item" (click)="setActive(2)">
              <a routerLink="/user-manager" class="sidebar-link">
                <i class="mdi mdi-chart-bar"></i>
                <span class="hide-menu"> Danh sách khách hàng </span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(2)">
              <a routerLink="/new-user" class="sidebar-link">
                <i class="mdi mdi-note-plus"></i>
                <span class="hide-menu"> Thêm tài khoản </span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End User Manager -->

        <!-- Start Product Manager -->
        <li class="sidebar-item" [ngClass]="{'selected': activeNav === 3}">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-chart-bubble"></i>
            <span class="hide-menu">Quản lý hệ sinh thái </span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item" (click)="setActive(3)">
              <a routerLink="/product-manager" class="sidebar-link">
                <i class="mdi fa-list-alt"></i>
                <span class="hide-menu"> Danh sách hệ sinh thái </span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(3)">
              <a routerLink="/create-product" class="sidebar-link">
                <i class="mdi mdi-account-plus"></i>
                <span class="hide-menu"> Tạo hệ sinh thái </span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(3)">
              <a routerLink="/product-approve" class="sidebar-link">
                <i class="mdi mdi-av-timer"></i>
                <span class="hide-menu"> Danh sách chờ xử lý</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Product Manager -->


        <!-- Start Product Owner Manager -->
        <li class="sidebar-item" [ngClass]="{'selected': activeNav === 14}">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-account-card-details"></i>
            <span class="hide-menu">Quản lý Chủ doanh nghiệp </span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item" (click)="setActive(14)">
              <a routerLink="/link-product" class="sidebar-link">
                <i class="mdi mdi-chart-bar"></i>
                <span class="hide-menu"> Danh sách Chủ doanh nghiệp </span>
              </a>
            </li>  
          </ul>
        </li>
        <!-- End Product Owner Manager -->

        
        <!-- Start Transaction Manager -->
        <li class="sidebar-item" (click)="setActive(4)" [ngClass]="{'selected': activeNav === 4}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/transaction-pacific" aria-expanded="false">
            <i class="mdi mdi-cash-multiple"></i>
            <span class="hide-menu">Quản lý doanh thu</span>
          </a>
        </li>
        <!-- End Transaction Manager -->

        <!-- Start User Role Manager -->
        <li class="sidebar-item" (click)="setActive(14)" [ngClass]="{'selected': activeNav === 14}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/payment" aria-expanded="false">
            <i class="mdi mdi-cash-multiple"></i>
            <span class="hide-menu">Quản lý rút tiền</span>
          </a>
        </li>
        <li class="sidebar-item" [ngClass]="{'selected': activeNav === 13}">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-account-card-details"></i>
            <span class="hide-menu">Quản lý thống kê </span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level">
            <li class="sidebar-item" (click)="setActive(13)">
              <a routerLink="/user-partner" class="sidebar-link">
                <i class="mdi mdi-chart-bar"></i>
                <span class="hide-menu"> Danh sách đối tác </span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(13)">
              <a routerLink="/user-customer" class="sidebar-link">
                <i class="mdi mdi-chart-bar"></i>
                <span class="hide-menu"> Danh sách khách hàng </span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(13)">
              <a routerLink="/user-member" class="sidebar-link">
                <i class="mdi mdi-chart-bar"></i>
                <span class="hide-menu"> Danh sách thành viên </span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End User Role Manager -->

        <li class="sidebar-item" (click)="setActive(15)" [ngClass]="{'selected': activeNav === 15}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/transaction-commit" aria-expanded="false">
            <i class="mdi mdi-cash"></i>
            <span class="hide-menu">Quản lý giao dịch</span>
          </a>
        </li>

        <!-- Start Payment Manager -->
        <!--li class="sidebar-item" (click)="setActive(5)" [ngClass]="{'selected': activeNav === 5}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/transaction-partner" aria-expanded="false">
            <i class="mdi mdi-cash"></i>
            <span class="hide-menu">Quản lý giao dịch</span>
          </a>
        </li-->
        <!-- End Payment Manager -->

        <!-- Start Categories Manager -->
        <li class="sidebar-item" (click)="setActive(6)" [ngClass]="{'selected': activeNav === 6}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/categories" aria-expanded="false">
            <i class="mdi mdi-certificate"></i>
            <span class="hide-menu">Quản lý danh mục</span>
          </a>
        </li>
        <!-- End Categories Manager -->

        <!-- Start Customer Manager -->
        <li class="sidebar-item" (click)="setActive(7)" [ngClass]="{'selected': activeNav === 7}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/customer-manager" aria-expanded="false">
            <i class="mdi mdi-account-convert"></i>
            <span class="hide-menu">Quản lý khách hàng</span>
          </a>
        </li>
        <!-- End Customer Manager -->

        <!-- Start Partner Manager -->
        <li class="sidebar-item" (click)="setActive(8)" [ngClass]="{'selected': activeNav === 8}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/partner" aria-expanded="false">
            <i class="mdi mdi-account-multiple"></i>
            <span class="hide-menu">Quản lý đối tác</span>
          </a>
        </li>
        <!-- End Partner Manager -->

        <!-- Start Ads Manager -->
        <li class="sidebar-item" (click)="setActive(9)" [ngClass]="{'selected': activeNav === 9}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/ads-manager" aria-expanded="false">
            <i class="mdi mdi-tooltip-image"></i>
            <span class="hide-menu">Quản lý quảng cáo</span>
          </a>
        </li>
        <!-- End Ads Manager -->

        <!-- Start Promo Manager -->
        <li class="sidebar-item" [ngClass]="{'selected': activeNav === 10}">
          <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
            <i class="mdi mdi-seal"></i>
            <span class="hide-menu">Khuyến mãi </span>
          </a>
          <ul aria-expanded="false" class="collapse  first-level">

            <li class="sidebar-item" (click)="setActive(10)">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/promo-manager" aria-expanded="false">
                <i class="mdi mdi-weather-windy"></i>
                <span class="hide-menu">Danh sách khuyến mãi</span>
              </a>
            </li>
            <li class="sidebar-item" (click)="setActive(10)">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/promo-approve" aria-expanded="false">
                <i class="mdi mdi-rotate-right"></i>
                <span class="hide-menu">Giao dịch khuyến mãi</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Promo Manager -->

        <!-- Start Config Manager -->
        <li class="sidebar-item" (click)="setActive(12)" [ngClass]="{'selected': activeNav === 12}">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/manual-config" aria-expanded="false">
            <i class="mdi mdi-settings-box"></i>
            <span class="hide-menu">Cài đặt chung</span>
          </a>
        </li>
        <!-- End Config Manager -->

        

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>