<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Cài đặt chung</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Cài đặt chung</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal" [formGroup]="configForm">
            <div class="card-body">
              <div class="form-group row">
                <label for="allCategory" class="col-sm-3 text-right control-label col-form-label">Danh mục dịch vụ</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="allCategory" placeholder="Danh mục dịch vụ" formControlName="allCategory">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.allCategory"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="descriptionAllCategory" class="col-sm-3 text-right control-label col-form-label">Mô tả danh mục dịch vụ</label>
                <div class="col-sm-9">
                  <textarea type="text" rows="7" class="form-control" id="textCol4" placeholder="Mô tả danh mục dịch vụ"
                    formControlName="descriptionAllCategory"></textarea>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.descriptionAllCategory"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-right control-label col-form-label" for="hotSale">Ưu đãi hot nhất</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" id="hotSale" placeholder="Ưu đãi hot nhất" formControlName="hotSale">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.hotSale"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="Trust" class="col-sm-3 text-right control-label col-form-label">Dịch vụ uy tín</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="Trust" placeholder="Dịch vụ uy tín" formControlName="Trust">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.Trust"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="nearMe" class="col-sm-3 text-right control-label col-form-label">Các dịch vụ gần đây</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nearMe" placeholder="Các dịch vụ gần đây" formControlName="nearMe">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.nearMe"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="new" class="col-sm-3 text-right control-label col-form-label">Mới nhất</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="new" placeholder="Mới nhất" formControlName="new">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.new"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="videoTitle" class="col-sm-3 text-right control-label col-form-label">Video</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="videoTitle" placeholder="Video" formControlName="videoTitle">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.videoTitle"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="videoLink" class="col-sm-3 text-right control-label col-form-label">Link video</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="videoLink" placeholder="Link video" formControlName="videoLink">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.videoLink"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="titleApp" class="col-sm-3 text-right control-label col-form-label">Tiêu đề tải ứng dụng</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="titleApp" placeholder="Tiêu đề tải app" formControlName="titleApp">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.titleApp"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="descriptionApp" class="col-sm-3 text-right control-label col-form-label">Mô tả ứng dụng</label>
                <div class="col-sm-9">
                  <textarea type="text" rows="7" class="form-control" id="descriptionApp" placeholder="Mô tả ứng dụng"
                    formControlName="descriptionApp"></textarea>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.descriptionApp"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="linkAndroid" class="col-sm-3 text-right control-label col-form-label">Link google play</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="linkAndroid" placeholder="Link google play" formControlName="linkAndroid">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.linkAndroid"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="linkIOS" class="col-sm-3 text-right control-label col-form-label">Link App Store</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="linkIOS" placeholder="Link App Store" formControlName="linkIOS">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.linkIOS"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="descriptionFooter" class="col-sm-3 text-right control-label col-form-label">Mô tả footer</label>
                <div class="col-sm-9">
                  <textarea type="text" rows="7" class="form-control" id="descriptionFooter" placeholder="Mô tả footer"
                    formControlName="descriptionFooter"></textarea>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.descriptionFooter"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="linkFacebook" class="col-sm-3 text-right control-label col-form-label">Link Facebook</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="linkFacebook" placeholder="Link Facebook" formControlName="linkFacebook">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.linkFacebook"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="linkGoogle" class="col-sm-3 text-right control-label col-form-label">Link Google</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="linkGoogle" placeholder="Link Google" formControlName="linkGoogle">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.linkGoogle"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="linkYoutube" class="col-sm-3 text-right control-label col-form-label">Link Youtube</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="linkYoutube" placeholder="Link Youtube" formControlName="linkYoutube">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="configForm.controls.linkYoutube"></control-messages>
                  </div>
                </div>
              </div>

              <div class="form-group row text-center">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm1">
                  <div class="form-group row text-center" *ngIf = "logoHeader">
                    <div class="full-width">
                      <img src="{{logoHeader}}" style="margin-bottom: 20px" />
                    </div>
                  </div>
                  <span class="btn btn-primary yellow btn-uploadfile">
                    <i class="mdi mdi-upload"></i>&nbsp;Chọn logo header...
                    <input type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                      (change)="onFileSelected('header')">
                  </span>
                </form>
              </div>

              <div class="form-group row text-center">
                <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm2">
                  <div class="form-group row text-center" *ngIf="logoFooter">
                    <div class="full-width">
                      <img src="{{logoFooter}}" style="margin-bottom: 20px" />
                    </div>
                  </div>
                  <span class="btn btn-primary yellow btn-uploadfile">
                    <i class="mdi mdi-upload"></i>&nbsp;Chọn logo footer...
                    <input type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                      (change)="onFileSelected('footer')">
                  </span>
                </form>
              </div>

            </div>
            <div class="border-top">
              <div class="card-body text-center">
                <button type="button" class="btn btn-primary" (click)="updateConfig()">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>