.btn {
  margin: 3px;
}
.button-wrapper {
  text-align: center;
}
.auto-complete-wrapper {
  position: relative;
  z-index: 100;
}
.auto-complete-wrapper ul{
  list-style-type: none;
  padding: 5px 0;
  border: solid 1px grey;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: white;
}
.auto-complete-wrapper li {
  cursor: pointer;
  padding-left: 12px;
}
.auto-complete-wrapper li:hover {
  background-color: #2178cf;
  color: white;
} 