<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Danh sách tài khoản</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Danh sách tài khoản</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> tài khoản</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['id'], 'sorting_asc': sortOption['_id'] && isAsc, 'sorting_desc': sortOption['_id'] && !isAsc}"
                          (click)="sort('_id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['username'], 'sorting_asc': sortOption['username'] && isAsc, 'sorting_desc': sortOption['username'] && !isAsc}"
                          (click)="sort('username')">
                          <span>Tài khoản</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['email'], 'sorting_asc': sortOption['email'] && isAsc, 'sorting_desc': sortOption['email'] && !isAsc}"
                          (click)="sort('email')">
                          <span>Email</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['name'], 'sorting_asc': sortOption['name'] && isAsc, 'sorting_desc': sortOption['name'] && !isAsc}"
                          (click)="sort('name')">
                          <span>Họ tên</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['address'], 'sorting_asc': sortOption['address'] && isAsc, 'sorting_desc': sortOption['address'] && !isAsc}"
                          (click)="sort('address')">
                          <span>Địa chỉ</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['roleUser'], 'sorting_asc': sortOption['roleUser'] && isAsc, 'sorting_desc': sortOption['roleUser'] && !isAsc}"
                          (click)="sort('roleUser')">
                          <span>Chức vụ</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listUser">
                        <td>{{user._id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.roleUser}}</td>
                        <td class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal1"
                            (click)="fillModalData(user)">Sửa</button>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal2"
                            (click)="setCurrentDeleteProduct(user._id)">Xóa</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listUser.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Tài khoản</th>
                        <th class="th-bold">Email</th>
                        <th class="th-bold">Họ tên</th>
                        <th class="th-bold">Địa chỉ</th>
                        <th class="th-bold">Chức vụ</th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} tài khoản</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<div class="modal fade" #modal id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel4">Sửa đổi tài khoản</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <form class="form-horizontal" [formGroup]="createForm">
                    <div class="card-body">
                      <h4 class="card-title">Sửa tài khoản</h4>
                      <div class="form-group row">
                        <label for="name" class="col-sm-3 text-right control-label col-form-label">Họ và tên</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="name" placeholder="Họ và tên" formControlName="name">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.name"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="username" class="col-sm-3 text-right control-label col-form-label">Tên tài khoản</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="username" placeholder="Tên tài khoản"
                            formControlName="username" disabled>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.username"></control-messages>
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label class="col-md-3 text-right control-label col-form-label">Giới tính</label>
                        <div class="col-md-9">
                          <select class="select2 form-control custom-select" formControlName="gender">
                            <option *ngFor="let item of gender" value="{{item.code}}">{{item.text}}</option>
                          </select>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.gender"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="birthDay" class="col-sm-3 text-right control-label col-form-label">Ngày sinh</label>
                        <div class="input-group col-sm-9">
                          <input type="text" class="form-control" placeholder="mm/dd/yyyy" formControlName="birthday"
                            #datepicker (change)="console()">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                          </div>
                          <div class="full-width">
                            <div class="message-wrapper text-right">
                              <control-messages [control]="createForm.controls.birthday"></control-messages>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="phone" class="col-sm-3 text-right control-label col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="phone" placeholder="Số điện thoại"
                            formControlName="phone" maxlength="11">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.phone"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="role" class="col-sm-3 text-right control-label col-form-label">Vị trí</label>
                        <div class="col-md-9">
                          <select class="select2 form-control custom-select" formControlName="role">
                            <option *ngFor="let item of role" value="{{item.code}}">{{item.text}}</option>
                          </select>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.role"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" *ngIf="createForm.controls.role.value == '2'">
                        <label for="usernameIntroduce" class="col-sm-3 text-right control-label col-form-label">Tên
                          người giới
                          thiệu</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="usernameIntroduce" placeholder="Tên người giới thiệu"
                            formControlName="usernameIntroduce" autocomplete="off" (input)="getUserIntroduce()" (blur)="resetListAutocomplete()">
                          <div class="auto-complete-wrapper" *ngIf="listAutocomplete.length">
                            <ul class="auto-complete">
                              <li *ngFor="let user of listAutocomplete" (click)="selectProducer(user.username, user._id)">{{user.username}}</li>
                            </ul>
                          </div>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.usernameIntroduce"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" *ngIf="createForm.controls.role.value == '2'">
                        <label for="userIdIntroduce" class="col-sm-3 text-right control-label col-form-label">Mã người
                          giới
                          thiệu</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="userIdIntroduce" placeholder="Mã người giới thiệu"
                            formControlName="userIdIntroduce" disabled>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.userIdIntroduce"></control-messages>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="form-group row" *ngIf="createForm.controls.role.value === '2'">
                        <label for="saleOff" class="col-sm-3 text-right control-label col-form-label">Giảm giá</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="saleOff" placeholder="Giảm giá" formControlName="saleOff">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.saleOff"></control-messages>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="form-group row" *ngIf="createForm.controls.role.value === '2'">
                        <label for="minSale" class="col-sm-3 text-right control-label col-form-label">Giảm giá thấp
                          nhất</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="minSale" placeholder="Giảm giá" formControlName="minSale">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.minSale"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row" *ngIf="createForm.controls.role.value === '2'">
                        <label for="maxSale" class="col-sm-3 text-right control-label col-form-label">Giảm giá cao nhất</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="maxSale" placeholder="Giảm giá" formControlName="maxSale">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.maxSale"></control-messages>
                          </div>
                        </div>
                      </div> -->
                      <div class="form-group row">
                        <label for="email" class="col-sm-3 text-right control-label col-form-label">Email</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.email"></control-messages>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="address" class="col-sm-3 text-right control-label col-form-label">Địa chỉ</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="address" placeholder="Địa chỉ" formControlName="address">
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.address"></control-messages>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="form-group row">
                        <label class="col-md-3 text-right control-label col-form-label">Tỉnh/ Thành phố</label>
                        <div class="col-md-9">
                          <select class="select2 form-control custom-select" formControlName="province">
                            <option value=1>TP Hồ Chí Minh</option>
                            <option value=2>Hà Nội</option>
                            <option value=3>Đà Nẵng</option>
                            <option value=4>Huế</option>
                            <option value=5>Quảng Ngãi</option>
                            <option value=6>Nha Trang</option>
                          </select>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.province"></control-messages>
                          </div>
                        </div>
                      </div> -->
                      <div class="card-body">
                        <button type="button" class="btn btn-primary" (click)="updateUser(userOnEdit._id)" aria-label="Close">Chỉnh
                          sửa</button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="border-top">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn chắc chắn muốn xóa tài khoản này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProduct()">OK</button>
      </div>
    </div>
  </div>
</div>