<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Quản lý doanh thu</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Quản lý doanh thu</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getTransactionPartnerList(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> giao dịch</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold">
                          <span>STT</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['partnerName'], 'sorting_asc': sortOption['partnerName'] && isAsc, 'sorting_desc': sortOption['partnerName'] && !isAsc}"
                          (click)="sort('partnerName')">
                          <span>Thanh toán tại đối tác</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['commission'], 'sorting_asc': sortOption['commission'] && isAsc, 'sorting_desc': sortOption['commission'] && !isAsc}"
                          (click)="sort('commission')">
                          <span>Hoa hồng Pacific</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['customer'], 'sorting_asc': sortOption['customer'] && isAsc, 'sorting_desc': sortOption['customer'] && !isAsc}"
                          (click)="sort('customer')">
                          <span>Khách hàng</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['pacific_amount'], 'sorting_asc': sortOption['pacific_amount'] && isAsc, 'sorting_desc': sortOption['pacific_amount'] && !isAsc}"
                          (click)="sort('pacific_amount')">
                          <span>Tiền</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['created_at'], 'sorting_asc': sortOption['created_at'] && isAsc, 'sorting_desc': sortOption['created_at'] && !isAsc}"
                          (click)="sort('created_at')">
                          <span>Thời gian</span>
                        </th>
                      </tr> 
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of listTrans; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{items.partnerName}}</td>
                        <td>{{items.commission}}%</td>
                        <td>{{items.customer}}</td>
                        <td>{{items.pacific_amount | number}}</td>
                        <td>{{items.created_at * 1000 | date:'dd/MM/yyyy'}}</td>
                      </tr>
                    </tbody>

                  </table>
                </div>
                <div class="row" *ngIf="listTrans.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} giao dịch, Tổng tiền: {{ amount | number}} VND</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>