<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Danh sách hệ sinh thái</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Danh sách hệ sinh thái</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListProduct(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> hệ sinh thái</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="" (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['productId'], 'sorting_asc': sortOption['productId'] && isAsc, 'sorting_desc': sortOption['productId'] && !isAsc}"
                          (click)="sort('productId')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['productTitle'], 'sorting_asc': sortOption['productTitle'] && isAsc, 'sorting_desc': sortOption['productTitle'] && !isAsc}"
                          (click)="sort('productTitle')">
                          <span>Tên hệ sinh thái</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['address'], 'sorting_asc': sortOption['address'] && isAsc, 'sorting_desc': sortOption['address'] && !isAsc}"
                          (click)="sort('address')">
                          <span>Địa chỉ</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['priceLow'], 'sorting_asc': sortOption['priceLow'] && isAsc, 'sorting_desc': sortOption['priceLow'] && !isAsc}"
                          (click)="sort('priceLow')">
                          <span>Giá tiền</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of listProduct">
                        <td>{{product.productId}}</td>
                        <td>{{product.productTitle}}</td>
                        <td>{{product.address}}</td>
                        <td>{{product.price}}</td>
                        <td class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" (click) = "editProduct(product)">Sửa</button>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal2" (click) = "setCurrentDeleteProduct(product.productId)">Xóa</button>
                          <!-- <button type="button" class="btn btn-info btn-sm">Chi tiết</button> -->
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listProduct.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Tên hệ sinh thái</th>
                        <th class="th-bold">Địa chỉ</th>
                        <th class="th-bold">Giá tiền</th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listProduct.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện {{minEntries}} đến {{maxEntries}} trên {{totalCount}} hệ sinh thái</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListProduct(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListProduct(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListProduct(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<div class="modal fade" #modal id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn chắc chắn muốn xóa hệ sinh thái này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteProduct()">OK</button>
      </div>
    </div>
  </div>
</div>