<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Quản lý giao dịch đổi tác</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Quản lý giao dịch đổi tác</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <!-- <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> tài khoản</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold"
                          [ngClass]="{'sorting': !sortOption['id'], 'sorting_asc': sortOption['id'] && isAsc, 'sorting_desc': sortOption['id'] && !isAsc}"
                          (click)="sort('id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['username'], 'sorting_asc': sortOption['username'] && isAsc, 'sorting_desc': sortOption['username'] && !isAsc}"
                          (click)="sort('username')">
                          <span>Đối tác</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['amount'], 'sorting_asc': sortOption['amount'] && isAsc, 'sorting_desc': sortOption['amount'] && !isAsc}"
                          (click)="sort('amount')">
                          <span>Thanh toán</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['created_at'], 'sorting_asc': sortOption['created_at'] && isAsc, 'sorting_desc': sortOption['created_at'] && !isAsc}"
                          (click)="sort('created_at')">
                          <span>Thời gian</span>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of data_transaction_partner">
                        <td>{{items.id}}</td>
                        <td>{{items.partner || item.customer}}</td>
                        <td>{{items.money}}</td>
                        <td>{{items.created}}</td>
                      </tr>
                    </tbody>
                    
                  </table>
                </div>
                <div class="row" *ngIf="data_transaction_partner.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} đối tác</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getTransactionPartnerList(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>