<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Danh sách khuyến mãi</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Danh sách khuyến mãi</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> khuyến mãi</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal1"
                      (click)="createCustomer()">Tạo mới khuyến mãi</button>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['id'], 'sorting_asc': sortOption['id'] && isAsc, 'sorting_desc': sortOption['id'] && !isAsc}"
                          (click)="sort('id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold min-width-150">
                          <span>Hình ảnh</span>
                        </th>
                        <th class="th-bold min-width-100" [ngClass]="{'sorting': !sortOption['description'], 'sorting_asc': sortOption['description'] && isAsc, 'sorting_desc': sortOption['description'] && !isAsc}"
                          (click)="sort('description')">
                          <span>Tên khuyến mãi</span>
                        </th>
                        <th class="th-bold min-width-150">
                          <span>Chi tiết</span>
                        </th>
                        <th class="th-bold">
                          <span>Số lượng</span>
                        </th>
                        <th class="th-bold">Trạng thái</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listUser">
                        <td>{{user.id}}</td>
                        <td>
                          <img src="{{user.image}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                        </td>
                        <td>{{user.name}}</td>
                        <td>{{user.description}}</td>
                        <td>{{user.quantity}}</td>
                        <td class="button-wrapper">
                          <button *ngIf="!user.status" type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#Modal1" (click) = "selectPromo(user)">Chờ xử lý</button>
                          <button *ngIf="user.status" type="button" class="btn btn-success btn-sm">Thành công</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listUser.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Hình ảnh</th>
                        <th class="th-bold">Tên khuyến mãi</th>
                        <th class="th-bold">Chi tiết</th>
                        <th class="th-bold">Số lượng</th>
                        <th class="th-bold">Trạng thái</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} khuyến mãi</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<div class="modal fade" #modal id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11"
  aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11">Bạn có đồng ý giao dịch này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="approve(user)">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" #modal2 id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn chắc chắn muốn xóa khuyến mãi này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeCustomer()">OK</button>
      </div>
    </div>
  </div>
</div>