<div class="auth-wrapper d-flex no-block justify-content-center align-items-center bg-dark">
  <div class="auth-box bg-dark border-top border-secondary">
    <div id="loginform">
      <div class="text-center p-t-20 p-b-20">
        <span class="db">
          <img src="https://pacificgo.asia/admin/uploads/1535140847923.png" alt="logo" style="width: 350px"/>
        </span>
      </div>
      <!-- Form -->
      <form class="form-horizontal m-t-20" id="loginform" [formGroup]="loginForm">
        <div class="row p-b-30">
          <div class="col-12">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-success text-white" id="basic-addon1">
                  <i class="ti-user"></i>
                </span>
              </div>
              <input type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName = "username"
                required="">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text bg-warning text-white" id="basic-addon2">
                  <i class="ti-pencil"></i>
                </span>
              </div>
              <input type="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" formControlName = "password"
                required="">
            </div>
          </div>
        </div>
        <div class="row border-top border-secondary">
          <div class="col-12">
            <div class="form-group">
              <div class="p-t-20">
                <!-- <button class="btn btn-info" id="to-recover" type="button" (click)="goToForgetPassword()">
                  <i class="fa fa-lock m-r-5"></i> Quên mật khẩu?</button> -->
                <button class="btn btn-success float-right" type="submit" (click)="doLogin()">Đăng nhập</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="recoverform">
      <div class="text-center">
        <span class="text-white">Nhập email đăng ký để lấy lại mật khẩu</span>
      </div>
      <div class="row m-t-20">
        <!-- Form -->
        <form class="col-12" action="index.html">
          <!-- email -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white" id="basic-addon1">
                <i class="ti-email"></i>
              </span>
            </div>
            <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <!-- pwd -->
          <div class="row m-t-20 p-t-20 border-top border-secondary">
            <div class="col-12">
              <a class="btn btn-success" href="#" id="to-login" name="action">Trở lại đăng nhập</a>
              <button class="btn btn-info float-right" type="button" name="action">Khôi phục mật khẩu</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>