<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Danh sách Chủ doanh nghiệp</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Danh sách Chủ doanh nghiệp</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> Chủ doanh nghiệp</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal1"
                      (click)="createCustomer()">Tạo mới Chủ doanh nghiệp</button>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['_id'], 'sorting_asc': sortOption['_id'] && isAsc, 'sorting_desc': sortOption['_id'] && !isAsc}"
                          (click)="sort('_id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold min-width-150" [ngClass]="{'sorting': !sortOption['username'], 'sorting_asc': sortOption['username'] && isAsc, 'sorting_desc': sortOption['username'] && !isAsc}"
                          (click)="sort('username')">
                          <span>Tên chủ doanh nghiệp</span>
                        </th>
                        <th class="th-bold min-width-150" [ngClass]="{'sorting': !sortOption['productTitle'], 'sorting_asc': sortOption['productTitle'] && isAsc, 'sorting_desc': sortOption['productTitle'] && !isAsc}"
                          (click)="sort('productTitle')">
                          <span>Tên doanh nghiệp</span>
                        </th>
                        <th class="th-bold min-width-150" [ngClass]="{'sorting': !sortOption['created_at'], 'sorting_asc': sortOption['created_at'] && isAsc, 'sorting_desc': sortOption['created_at'] && !isAsc}"
                          (click)="sort('created_at')">
                          <span>Ngày tạo</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listUser">
                        <td>{{user._id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.productTitle}}</td>
                        <td>{{user.created}}</td>
                        <td class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal1"
                            (click)="fillModalData(user)">Sửa</button>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal2"
                            (click)="setDeleteCustomer(user._id)">Xóa</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listUser.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Tên Chủ doanh nghiệp</th>
                        <th class="th-bold">Tên doanh nghiệp</th>
                        <th class="th-bold">Ngày tạo</th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} Chủ doanh nghiệp</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<div class="modal fade" #modal id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11"
  aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11">Chỉnh sửa thông tin Chủ doanh nghiệp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <form class="form-horizontal" [formGroup]="createForm">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="username" class="col-sm-3 text-right control-label col-form-label">Tên Chủ doanh nghiệp</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="username" placeholder="Tên Chủ doanh nghiệp"
                        formControlName="username" autocomplete="off" (input)="getUser()" (blur)="resetListAutocompleteUser()">
                      <div class="auto-complete-wrapper" *ngIf="listAutocompleteUser.length">
                        <ul class="auto-complete">
                          <li *ngFor="let user of listAutocompleteUser" (click)="selectUser(user.username, user._id)">{{user.username}}</li>
                        </ul>
                      </div>
                      <div class="message-wrapper text-right">
                        <control-messages [control]="createForm.controls.username"></control-messages>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="productTitle" class="col-sm-3 text-right control-label col-form-label">Doanh nghiệp</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="productTitle" placeholder="Doanh nghiệp"
                        formControlName="productTitle" autocomplete="off" (input)="getProduct()" (blur)="resetListAutocompleteProduct()">
                      <div class="auto-complete-wrapper" *ngIf="listAutocompleteProduct.length">
                        <ul class="auto-complete">
                          <li *ngFor="let product of listAutocompleteProduct" (click)="selectProduct(product.productTitle, product.productId)">{{product.productTitle}}</li>
                        </ul>
                      </div>
                      <div class="message-wrapper text-right">
                        <control-messages [control]="createForm.controls.productTitle"></control-messages>
                      </div>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <button *ngIf="isUpdate" type="button" class="btn btn-primary" (click)="updateUser(userOnEdit._id)"
                      aria-label="Close">Chỉnh sửa</button>
                    <button *ngIf="!isUpdate" type="button" class="btn btn-primary" (click)="createUser()" aria-label="Close">Tạo
                      mới</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="border-top">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" #modal2 id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
  aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn chắc chắn muốn xóa Chủ doanh nghiệp này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="removeCustomer()">OK</button>
      </div>
    </div>
  </div>
</div>