<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">{{title}}</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
  	  <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> tài khoản</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['username'], 'sorting_asc': sortOption['username'] && isAsc, 'sorting_desc': sortOption['username'] && !isAsc}"
                          (click)="sort('username')">
                          <span>Tài khoản</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['email'], 'sorting_asc': sortOption['email'] && isAsc, 'sorting_desc': sortOption['email'] && !isAsc}"
                          (click)="sort('email')">
                          <span>Email</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['name'], 'sorting_asc': sortOption['name'] && isAsc, 'sorting_desc': sortOption['name'] && !isAsc}"
                          (click)="sort('name')">
                          <span>Họ tên</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['address'], 'sorting_asc': sortOption['address'] && isAsc, 'sorting_desc': sortOption['address'] && !isAsc}"
                          (click)="sort('address')">
                          <span>Địa chỉ</span>
                        </th>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['roleUser'], 'sorting_asc': sortOption['roleUser'] && isAsc, 'sorting_desc': sortOption['roleUser'] && !isAsc}"
                          (click)="sort('roleUser')">
                          <span>Chức vụ</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listUser; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.roleUser}}</td>
                        <td class="button-wrapper">
                          <!--button type="button" class="btn btn-success btn-sm" (click)="setCurrentUser(user._id)"  data-toggle="modal" data-target="#Modal1"
                           >View Chart</button-->
                           <button type="button" class="btn btn-success btn-sm" (click)="viewtransactions(user)"
                           >Hiển thị giao dịch</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listUser.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Tài khoản</th>
                        <th class="th-bold">Email</th>
                        <th class="th-bold">Họ tên</th>
                        <th class="th-bold">Địa chỉ</th>
                        <th class="th-bold">Chức vụ</th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} tài khoản</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
  <div class="modal fade modal-lg container-fluid" #modal id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true ">
    <div class="modal-dialog modal-lg" role="document ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel4">Xem Báo Cáo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            <div>
              <div class="row">
                <div class="col-sm-5">
                    <div class="form-group row">
                      <label for="formdate" class="col-sm-4 text-right control-label col-form-label">Từ Ngày</label>
                      <div class="input-group col-sm-8">
                        <input type="text" class="form-control mydatepicker" id="fromdateVal" placeholder="mm/dd/yyyy"
                          #fromdate>
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
                <!--div class="col-sm-5">
                    <div class="form-group row">
                      <label for="todate" class="col-sm-4 text-right control-label col-form-label">Đến Ngày</label>
                      <div class="input-group col-sm-8">
                        <input type="text" class="form-control mydatepicker" id="todateVal" placeholder="mm/dd/yyyy"
                          #todate>
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                </div-->
                <div class="col-sm-2">
                  <div class="form-group row">
                  <div class="input-group col-sm-8">
                    <button type="button" class="btn btn-primary" (click)="loadView()">Xem</button>
                  </div>
                </div>
                </div>
                <div class="col-sm-12">
                  <div style="display: block;">
                  <canvas baseChart class="col-sm-12" 
                              [datasets]="lineChartData"
                              [labels]="lineChartLabels"
                              [options]="lineChartOptions"
                              [colors]="lineChartColors"
                              [legend]="lineChartLegend"
                              [chartType]="lineChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                  </div>
                </div>
                <!--div class="col-md-12" style="margin-bottom: 10px">
                  <table class="table table-responsive table-condensed">
                    <tr>
                      <th *ngFor="let label of lineChartLabels">{{label}}</th>
                    </tr>
                    <tr *ngFor="let d of lineChartData">
                      <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                    </tr>
                  </table>
                  <button (click)="randomize()">CLICK</button>
                </div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>