
.tabs-wrapper a{
  color: #4F5467;
}
.tabs-wrapper a label{
  font-weight: 700;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.create-btn {
  margin-bottom: 10px;
}
.btn-wrapper {
  margin-bottom: 10px;
}
.btn-wrapper  .btn:not(:last-child) {
  margin-right: 10px;
}