<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Sửa đổi hệ sinh thái</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Sửa đổi hệ sinh thái</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row btn-wrapper">
      <div class="col-md-12 text-right" *ngIf="formData.isDraft">
        <button type="button" class="btn btn-primary" (click)="saveDraft()">Lưu nháp</button>
        <button type="button" class="btn btn-success" (click)="createProduct(true)">Duyệt</button>
        <button type="button" class="btn btn-danger" (click)="deleteDraft()">Xoá</button>
      </div>
      <div class="col-md-12 text-right" *ngIf="!formData.isDraft">
        <button type="button" class="btn btn-primary" (click)="createProduct()">Sửa đổi hệ sinh thái</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs tabs-wrapper" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#informationtab" role="tab">
                <i class="mdi mdi-information"></i>
                <label>&nbsp; Thông tin và Hình ảnh</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#promotab" role="tab">
                <i class="mdi mdi-gift"></i>
                <label>&nbsp; Ưu đãi</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#introducetab" role="tab">
                <i class="mdi mdi-flag-outline"></i>
                <label>&nbsp; Giới thiệu </label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#avatartab" role="tab">
                <i class="mdi mdi-book"></i>
                <label>&nbsp; Ảnh đại diện</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#menutab" role="tab">
                <i class="mdi  mdi-folder-image"></i>
                <label>&nbsp; Thực đơn</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#addresstab" role="tab">
                <i class="mdi mdi-crosshairs-gps"></i>
                <label>&nbsp; Địa chỉ</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#editlabeltab" role="tab">
                <i class="mdi mdi-tooltip-edit"></i>
                <label> &nbsp; Chỉnh sửa label</label>
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content tabcontent-border">
            <div class="tab-pane active" id="informationtab" role="tabpanel">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <form class="form-horizontal" [formGroup]="createForm">
                      <div class="card-body">
                        <div class="form-group row">
                          <div class="col-md-6">
                            <label for="productTitle" class="text-left control-label col-form-label">Tên nhà hàng:</label>
                            <div>
                              <input type="text" class="form-control" id="productTitle" placeholder="Vui lòng nhập tên nhà hàng"
                                formControlName="productTitle">
                              <div class="message-wrapper text-right">
                                <control-messages [control]="createForm.controls.productTitle"></control-messages>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for="phone" class="text-left control-label col-form-label">Số điện thoại:</label>
                            <div>
                              <input type="text" class="form-control" id="phone" placeholder="Vui lòng nhập số điện thoại"
                                formControlName="phone" maxlength="11">
                              <div class="message-wrapper text-right">
                                <control-messages [control]="createForm.controls.phone"></control-messages>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-group row">
                          <div class="col-md-6">
                              <label for="rating" class="text-left control-label col-form-label">Đánh giá:</label>
                              <div>
                                <input type="text" class="form-control" id="rating" placeholder="Vui lòng nhập mức đánh giá"
                                  formControlName="rating">
                                <div class="message-wrapper text-right">
                                  <control-messages [control]="createForm.controls.rating"></control-messages>
                                </div>
                              </div>
                          </div>
                          <div class="col-md-6">

                            <div class="form-group row">
                              <div class="col-md-6">
                                <label class="text-left control-label col-form-label">Danh mục</label>
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;"
                                  formControlName="categoryId">
                                  <option value="null" disabled="true" [selected]="true">Select</option>
                                  <option *ngFor="let option of categories" value="{{option.id}}">{{option.name}}</option>
                                </select>
                                <div class="message-wrapper text-right">
                                  <control-messages [control]="createForm.controls.categoryId"></control-messages>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="text-left control-label col-form-label">Danh mục con</label>
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;"
                                  [disabled]="!hasSubCategories" formControlName="subCategoryId">
                                  <option value="null" disabled="true" [selected]="true">Select</option>
                                  <option *ngFor="let option of currentCategory" value="{{option.code}}">{{option.text}}</option>
                                </select>
                                <div class="message-wrapper text-right">
                                  <control-messages [control]="createForm.controls.subCategoryId"></control-messages>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="form-group row">
                          <div class="col-md-6">
                            <label for="attribute" class="text-left control-label col-form-label">Loại hình:</label>
                            <div>
                              <input type="text" class="form-control" id="attribute" placeholder="Vui lòng nhập loại hình"
                                formControlName="attribute">
                              <div class="message-wrapper text-right">
                                <control-messages [control]="createForm.controls.attribute"></control-messages>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                                <label for="openStore" class="text-left control-label col-form-label">Giờ mở cữa</label>
                                <div>
                                  <input type="text" class="form-control" id="openStore" placeholder="Vui lòng nhập giờ mở cữa"
                                    formControlName="openStore">
                                  <div class="message-wrapper text-right">
                                    <control-messages [control]="createForm.controls.openStore"></control-messages>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="closeStore" class="text-left control-label col-form-label">Giờ đóng cữa</label>
                                <div>
                                  <input type="text" class="form-control" id="closeStore" placeholder="Vui lòng nhập giờ đóng cữa"
                                    formControlName="closeStore">
                                  <div class="message-wrapper text-right">
                                    <control-messages [control]="createForm.controls.closeStore"></control-messages>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                                <label class="text-left control-label col-form-label">Thành phố:</label>
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;"
                                  formControlName="city">
                                  <option value="null" disabled="true" [selected]="true">Select</option>
                                  <option *ngFor="let city of cityList" value="{{city.id}}">{{city.title}}</option>
                                </select>
                                <div class="message-wrapper text-right">
                                  <control-messages [control]="createForm.controls.city"></control-messages>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="text-left control-label col-form-label">Quận/Huyện:</label>
                                <select class="select2 form-control custom-select" style="width: 100%; height:36px;"
                                  formControlName="ward" [disabled]="!hasWardList">
                                  <option value="null" disabled="true" [selected]="true">Select</option>
                                  <option *ngFor="let ward of wardList" value="{{ward.id}}">{{ward.title}}</option>
                                </select>
                                <div class="message-wrapper text-right">
                                  <control-messages [control]="createForm.controls.ward"></control-messages>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                                <label for="priceLow" class="text-left control-label col-form-label">Giá thấp nhất</label>
                                <div>
                                  <input type="text" class="form-control" id="priceLow" placeholder="Vui lòng nhập giờ đóng cữa"
                                    formControlName="priceLow">
                                  <div class="message-wrapper text-right">
                                    <control-messages [control]="createForm.controls.priceLow"></control-messages>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="pricehight" class="text-left control-label col-form-label">Giá cao nhất</label>
                                <div>
                                  <input type="text" class="form-control" id="pricehight" placeholder="Vui lòng nhập giờ đóng cữa"
                                    formControlName="pricehight">
                                  <div class="message-wrapper text-right">
                                    <control-messages [control]="createForm.controls.pricehight"></control-messages>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="istop" formControlName="is_top">
                              <label class="custom-control-label" for="istop">Cữa hàng uy tín</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="reputation" formControlName="reputation">
                              <label class="custom-control-label" for="reputation">Cửa hàng top</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable text-center">
                            <thead>
                              <tr>
                                <th class="th-bold">
                                  <span>Hình ảnh</span>
                                </th>
                                <th class="th-bold">
                                  <span>Tên ảnh</span>
                                </th>
                                <th class="th-bold">
                                  <span>Dung lượng</span>
                                </th>
                                <th class="th-bold">
                                  <span>Tác vụ</span>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of listFile.productImage; let i = index">
                                <td>
                                  <img src="{{item.url}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                                </td>
                                <td>
                                  <strong>{{item.name}}</strong>
                                </td>
                                <td>{{item.size}} B</td>
                                <td class="button-wrapper">
                                  <button type="button" class="btn btn-danger btn-sm" (click)="removeImage('productImage', i)">Xóa</button>
                                </td>
                              </tr>
                            </tbody>
                            <tfoot>
                              <p>
                                <span class="btn btn-sm">Upload 12 hình</span>
                              </p>
                            </tfoot>
                          </table>
                          <div class="message-wrapper text-right">
                            <control-messages [control]="createForm.controls.productImage"></control-messages>
                          </div>
                          <div class="border-top">
                            <div class="card-body text-center">
                              <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                                <span class="btn btn-primary yellow btn-uploadfile">
                                  <i class="mdi mdi-upload"></i>&nbsp;Chọn hình ảnh từ máy tính của bạn...
                                  <input type="file" name="files" multiple="multiple" value="" ng2FileSelect [uploader]="uploader"
                                    accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected('productImage')">
                                </span>
                                <p>
                                  <span class="btn btn-sm">(Size hình đề nghị : 750 x 450)</span>
                                </p>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane  " id="promotab" role="tabpanel">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <form class="form-horizontal" [formGroup]="createForm">
                      <div class="card-body">
                        <div class="form-group row">
                          <div class="col-md-6">
                            <label for="minSale" class="text-left control-label col-form-label">Giảm giá thấp nhất:</label>
                            <div>
                              <input type="text" class="form-control" id="minSale" placeholder="Vui lòng nhập mã giảm giá"
                                formControlName="minSale">
                              <div class="message-wrapper text-right">
                                <control-messages [control]="createForm.controls.minSale"></control-messages>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for="maxSale" class="text-left control-label col-form-label">Giảm giá cao nhất:</label>
                            <div>
                              <input type="text" class="form-control" id="maxSale" placeholder="Vui lòng nhập mã giảm giá"
                                formControlName="maxSale">
                              <div class="message-wrapper text-right">
                                <control-messages [control]="createForm.controls.maxSale"></control-messages>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <ckeditor [ngModelOptions]="{standalone: true}" [(ngModel)]="saleDetail" #myckeditor="ngModel"
                              name="myckeditor" required [config]="ckeConfig" debounce="500">
                            </ckeditor>
                            <div class="message-wrapper text-right">
                              <control-messages [control]="createForm.controls.saleDetail"></control-messages>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane " id="introducetab" role="tabpanel">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <form class="form-horizontal">
                      <div class="card-body">
                        <div class="form-group row">
                          <div class="col-md-3 padding-bottom-10" *ngFor="let item of aboutMoreData">
                            <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id='{{"customControlAutosizing" + item.code}}'
                                [ngModelOptions]="{standalone: true}" [(ngModel)]='aboutMoreList[item.code]'>
                              <label class="custom-control-label" for='{{"customControlAutosizing" + item.code}}'>{{item.text}}</label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <ckeditor [ngModelOptions]="{standalone: true}" [(ngModel)]="aboutDetail" #myckeditor="ngModel"
                              name="myckeditor" required [config]="ckeConfig" debounce="500">
                            </ckeditor>
                            <div class="message-wrapper text-right">
                              <control-messages [control]="createForm.controls.aboutDetail"></control-messages>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane " id="avatartab" role="tabpanel">
              <div class="col-md-12">
                <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable text-center">
                  <thead>
                    <tr>
                      <th class="th-bold">
                        <span>Hình ảnh</span>
                      </th>
                      <th class="th-bold">
                        <span>Tên ảnh</span>
                      </th>
                      <th class="th-bold">
                        <span>Dung lượng</span>
                      </th>
                      <th class="th-bold">
                        <span>Tác vụ</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listFile.avatar; let i = index">
                      <td>
                        <img src="{{item.url}}" style="width: 150px; height: 150px; margin-bottom: 20xp" />
                      </td>
                      <td>
                        <strong>{{item.name}}</strong>
                      </td>
                      <td>{{item.size}} B</td>
                      <td class="button-wrapper">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeImage('avatar', i)">Xóa</button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <p>
                      <span class="btn btn-sm">Upload 1 hình</span>
                    </p>
                  </tfoot>
                </table>
                <div class="message-wrapper text-right">
                  <control-messages [control]="createForm.controls.productTN"></control-messages>
                </div>
                <div class="border-top">
                  <div class="card-body text-center">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                      <span class="btn btn-primary yellow btn-uploadfile">
                        <i class="mdi mdi-upload"></i>&nbsp;Chọn hình ảnh từ máy tính của bạn...
                        <input type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                          (change)="onFileSelected('avatar')">
                      </span>
                      <p>
                        <span class="btn btn-sm">(Size hình đề nghị : 750 x 450)</span>
                      </p>
                    </form>
                    <!-- <button type="button" class="btn btn-primary">
                                  <i class="mdi mdi-upload"></i>
                                  Chọn hình ảnh từ máy tính của bạn</button> -->
                  </div>
                </div>

              </div>
            </div>
            <div class="tab-pane " id="menutab" role="tabpanel">
              <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable text-center">
                <thead>
                  <tr>
                    <th class="th-bold">
                      <span>Hình ảnh</span>
                    </th>
                    <th class="th-bold">
                      <span>Tên ảnh</span>
                    </th>
                    <th class="th-bold">
                      <span>Dung lượng</span>
                    </th>
                    <th class="th-bold">
                      <span>Tác vụ</span>
                    </th>
                  </tr>
                </thead>
                <tbody *ngIf = "listFile.menuImage.length > 0">
                  <tr *ngFor="let item of listFile.menuImage; let i = index">
                    <td *ngIf = "item.url">
                      <img src="{{item.url}}" style="width: 150px; height: 150px; margin-bottom: 20xp" />
                    </td>
                    <td *ngIf = "item.url">
                      <strong>{{item.name}}</strong>
                    </td>
                    <td *ngIf = "item.url">{{item.size}} B</td>
                    <td class="button-wrapper" *ngIf = "item.url">
                      <button type="button" class="btn btn-danger btn-sm" (click)="removeImage('menuImage', i)">Xóa</button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <p>
                    <span class="btn btn-sm">Upload 1 hình</span>
                  </p>
                </tfoot>
              </table>
              <div class="border-top">
                <div class="card-body text-center">
                  <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                    <span class="btn btn-primary yellow btn-uploadfile">
                      <i class="mdi mdi-upload"></i>&nbsp;Chọn hình ảnh từ máy tính của bạn...
                      <input type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                        (change)="onFileSelected('menuImage')" multiple="multiple">
                    </span>
                    <p>
                      <span class="btn btn-sm">(Size hình đề nghị : 750 x 450)</span>
                    </p>
                  </form>
                  <!-- <button type="button" class="btn btn-primary">
                          <i class="mdi mdi-upload"></i>
                          Chọn hình ảnh từ máy tính của bạn</button> -->
                </div>
              </div>
            </div>
            <div class="tab-pane " id="addresstab" role="tabpanel">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <form class="form-horizontal" [formGroup]="createForm">
                      <div class="card-body">
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="address" class="text-left control-label col-form-label">Địa chỉ:</label>
                                <div>
                                  <input type="text" class="form-control" id="address" placeholder="Vui lòng nhập địa chỉ"
                                    formControlName="address" autocorrect="off" autocapitalize="off" spellcheck="off"
                                    #search>
                                  <div class="message-wrapper text-right">
                                    <control-messages [control]="createForm.controls.address"></control-messages>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-6">
                                <label for="latitude" class="text-left control-label col-form-label">Vĩ độ</label>
                                <div>
                                  <input type="text" class="form-control" id="latitude" disabled [(ngModel)]="latitude"
                                    [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="longitude" class="text-left control-label col-form-label">Kinh độ</label>
                                <div>
                                  <input type="text" class="form-control" id="longitude" disabled [(ngModel)]="longitude"
                                    [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                                  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                                </agm-map>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane " id="editlabeltab" role="tabpanel">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <form class="form-horizontal" [formGroup]="createForm">
                      <div class="card-body">
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="label1" class="text-left control-label col-form-label">Label 1</label>
                                <div>
                                  <input type="text" class="form-control" id="label1" placeholder="Vui lòng nhập label 1"
                                    formControlName="label1">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="label2" class="text-left control-label col-form-label">Label 2</label>
                                <div>
                                  <input type="text" class="form-control" id="label2" placeholder="Vui lòng nhập label 2"
                                    formControlName="label2">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="label3" class="text-left control-label col-form-label">Label 3</label>
                                <div>
                                  <input type="text" class="form-control" id="label3" placeholder="Vui lòng nhập label 3"
                                    formControlName="label3">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="label4" class="text-left control-label col-form-label">Label 4</label>
                                <div>
                                  <input type="text" class="form-control" id="label4" placeholder="Vui lòng nhập label 4"
                                    formControlName="label4">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-12">
                            <div class="row">
                              <div class="col-md-12">
                                <label for="label5" class="text-left control-label col-form-label">Label 5</label>
                                <div>
                                  <input type="text" class="form-control" id="label5" placeholder="Vui lòng nhập label 5"
                                    formControlName="label5">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>