<div class="page-wrapper">
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Tạo tài khoản mới</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Tạo tài khoản mới</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form class="form-horizontal" [formGroup]="createForm" autocomplete="off">
            <input autocomplete="off" name="hidden" type="text" style="display:none;">
            <div class="card-body">
              <div class="form-group row">
                <label for="name" class="col-sm-3 text-right control-label col-form-label">Họ và tên</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" placeholder="Họ và tên" formControlName="name">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.name"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-3 text-right control-label col-form-label">Tên tài khoản</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="username" placeholder="Tên tài khoản" formControlName="username">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.username"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-sm-3 text-right control-label col-form-label">Mật khẩu</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="password" placeholder="Mật khẩu" formControlName="password">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.password"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="confirmPassword" class="col-sm-3 text-right control-label col-form-label">Xác nhận mật khẩu</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="confirmPassword" placeholder="Xác nhận mật khẩu"
                    formControlName="confirmPassword">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.confirmPassword"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-right control-label col-form-label">Giới tính</label>
                <div class="col-md-9">
                  <select class="select2 form-control custom-select" formControlName="gender">
                    <option *ngFor="let item of gender" value="{{item.code}}">{{item.text}}</option>
                  </select>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.gender"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="birthDay" class="col-sm-3 text-right control-label col-form-label">Ngày sinh</label>
                <div class="input-group col-sm-9">
                  <input type="text" class="form-control mydatepicker" placeholder="mm/dd/yyyy" formControlName="birthday"
                    #datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </div>
                  <div class="full-width">
                    <div class="message-wrapper text-right">
                      <control-messages [control]="createForm.controls.birthday"></control-messages>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="phone" class="col-sm-3 text-right control-label col-form-label">Số điện thoại</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="phone" placeholder="Số điện thoại" formControlName="phone" maxlength="11">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.phone"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="role" class="col-sm-3 text-right control-label col-form-label">Vị trí</label>
                <div class="col-sm-9">
                  <select class="select2 form-control custom-select" formControlName="role">
                    <option *ngFor="let item of role" value="{{item.code}}">{{item.text}}</option>
                  </select>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.role"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="createForm.controls.role.value == '2'">
                <label for="usernameIntroduce" class="col-sm-3 text-right control-label col-form-label">Tên người giới
                  thiệu</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="usernameIntroduce" placeholder="Tên người giới thiệu"
                    formControlName="usernameIntroduce" autocomplete="off" (input)="getUserIntroduce()" (blur)="resetListAutocomplete()">
                  <div class="auto-complete-wrapper" *ngIf="listAutocomplete.length">
                    <ul class="auto-complete">
                      <li *ngFor="let user of listAutocomplete" (click)="selectProducer(user.username, user._id)">{{user.username}}</li>
                    </ul>
                  </div>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.usernameIntroduce"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="createForm.controls.role.value == '2'">
                <label for="userIdIntroduce" class="col-sm-3 text-right control-label col-form-label">Mã người giới
                  thiệu</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="userIdIntroduce" placeholder="Mã người giới thiệu"
                    formControlName="userIdIntroduce" disabled>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.userIdIntroduce"></control-messages>
                  </div>
                </div>
              </div>
             
              <div class="form-group row">
                <label for="email" class="col-sm-3 text-right control-label col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.email"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="address" class="col-sm-3 text-right control-label col-form-label">Địa chỉ</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="address" placeholder="Địa chỉ" formControlName="address">
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.address"></control-messages>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 text-right control-label col-form-label">Tỉnh/ Thành phố</label>
                <div class="col-md-9">
                  <select class="select2 form-control custom-select" formControlName="province">
                    <option value=1>TP Hồ Chí Minh</option>
                    <option value=2>Hà Nội</option>
                    <option value=3>Đà Nẵng</option>
                    <option value=4>Huế</option>
                    <option value=5>Quảng Ngãi</option>
                    <option value=6>Nha Trang</option>
                  </select>
                  <div class="message-wrapper text-right">
                    <control-messages [control]="createForm.controls.province"></control-messages>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="button" class="btn btn-primary" (click)="createUser()">Tạo tài khoản</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>