<div class="preloader" id="preloader" #loading>
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<div id="main-wrapper">
    <app-header *ngIf="!isLogin"></app-header>
    <app-side-bar *ngIf="!isLogin"></app-side-bar>
    <router-outlet></router-outlet>
</div>
<div class="modal fade error-modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog" role="document ">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true " (click)="closeModal()">×</span>
                </button>
            </div>
            <div class="modal-body" id="exampleModalDesc">
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Zalo Widget Chat -->
<!-- <div class="zalo-chat-widget" 
    data-oaid="3571652185459223801" 
    data-welcome-message="Rất vui khi được hỗ trợ bạn!"
    data-autopopup="0" 
    data-width="350" 
    data-height="420">
</div> -->