<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Danh sách khuyến mãi</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Danh sách khuyến mãi</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> khuyến mãi</label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder="" (input)="search()">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal1" (click)="createCustomer()">Tạo mới khuyến mãi</button>
                  </div>
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold" [ngClass]="{'sorting': !sortOption['id'], 'sorting_asc': sortOption['id'] && isAsc, 'sorting_desc': sortOption['id'] && !isAsc}"
                          (click)="sort('id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold min-width-150">
                          <span>Hình ảnh</span>
                        </th>
                        <th class="th-bold min-width-150" [ngClass]="{'sorting': !sortOption['price'], 'sorting_asc': sortOption['price'] && isAsc, 'sorting_desc': sortOption['price'] && !isAsc}"
                          (click)="sort('price')">
                          <span>Tên khuyến mãi</span>
                        </th>
                        <th class="th-bold min-width-150">
                          <span>Điểm đổi</span>
                        </th>
                        <th class="th-bold">
                          <span>Số lượng</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of listUser">
                        <td>{{user.id}}</td>
                        <td>
                          <img src="{{user.image}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                        </td>
                        <td>{{user.name}}</td>
                        <td>{{user.price}}</td>
                        <td>{{user.quantity}}</td>
                        <td class="button-wrapper">
                          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal1" (click)="fillModalData(user)">Sửa</button>
                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal2" (click)="setDeleteCustomer(user.id)">Xóa</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="listUser.length">
                      <tr>
                        <th class="th-bold">#ID</th>
                        <th class="th-bold">Hình ảnh</th>
                        <th class="th-bold">Tên khuyến mãi</th>
                        <th class="th-bold">Điểm đổi</th>
                        <th class="th-bold">Số lượng</th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện {{minEntries}} đến {{maxEntries}} trên {{totalCount}} khuyến mãi</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListUser(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>
<div class="modal fade" #modal id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel11" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel11">Chỉnh sửa thông tin khuyến mãi</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <form class="form-horizontal" [formGroup]="createForm">
                <div class="card-body">
                  <div class="form-group row">
                    <label for="name" class="col-sm-3 text-right control-label col-form-label">Tên khuyến mãi</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="name" placeholder="Tên khuyến mãi" formControlName="name">
                      <div class="message-wrapper text-right">
                        <control-messages [control]="createForm.controls.name"></control-messages>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="price" class="col-sm-3 text-right control-label col-form-label">Điểm đổi</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="price" placeholder="Điểm đổi" formControlName="price">
                      <div class="message-wrapper text-right">
                        <control-messages [control]="createForm.controls.price"></control-messages>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="quantity" class="col-sm-3 text-right control-label col-form-label">Số lượng</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="quantity" placeholder="Số lượng" formControlName="quantity">
                      <div class="message-wrapper text-right">
                        <control-messages [control]="createForm.controls.quantity"></control-messages>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center" *ngIf="!isUpdate && listFile.create[0]">
                    <div class = "row" *ngFor = "let img of listFile.create; let i = index">
                      <div class="col-md-9">
                        <div class="full-width" >
                          <img src="{{img.url}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                        </div>
                      </div>
                      <div class="col-md-3">
                          <button type="button" class="btn btn-primary" (click)="remove('create', i)"  aria-label="Close">Xoá</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group text-center" *ngIf="isUpdate">
                    <div class = "row" *ngFor = "let img of userOnEdit.featured_images; let i = index">
                      <div class="col-md-9">
                        <div class="full-width" >
                          <img src="{{img}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                        </div>
                      </div>
                      <div class="col-md-3">
                          <button type="button" class="btn btn-primary" (click)="remove('user', i)"  aria-label="Close">Xoá</button>
                      </div>
                    </div>
                    <div class = "row" *ngFor = "let img of listFile.update; let i = index">
                      <div class="col-md-9">
                        <div class="full-width" >
                          <img src="{{img.url}}" style="width: 150px; height: 150px; margin-bottom: 20px" />
                        </div>
                      </div>
                      <div class="col-md-3">
                          <button type="button" class="btn btn-primary" (click)="remove('update', i)"  aria-label="Close">Xoá</button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row text-center">
                    <form class="form-horizontal" method="POST" enctype="multipart/form-data" id="fileUploadForm">
                      <span class="btn btn-primary yellow btn-uploadfile">
                        <i class="mdi mdi-upload"></i>&nbsp;Chọn hình ảnh từ máy tính của bạn...
                        <input *ngIf="isUpdate" type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                          (change)="onFileSelected('update')">
                        <input *ngIf="!isUpdate" type="file" name="files" value="" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg"
                          (change)="onFileSelected('create')">
                      </span>
                    </form>
                  </div>
                  <div class="card-body text-center">
                    <button *ngIf="isUpdate" type="button" class="btn btn-primary" (click)="updateUser(userOnEdit.id)"  aria-label="Close">Chỉnh sửa</button>
                    <button *ngIf="!isUpdate" type="button" class="btn btn-primary" (click)="createUser()"  aria-label="Close">Tạo mới</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="border-top">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" #modal2 id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn chắc chắn muốn xóa khuyến mãi này?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "removeCustomer()">OK</button>
      </div>
    </div>
  </div>
</div>