<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="page-breadcrumb">
    <div class="row">
      <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">Quản lý yêu cầu rút tiền</h4>
        <div class="ml-auto text-right">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Quản lý yêu cầu rút tiền</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length" id="zero_config_length">
                      <label>Hiện
                        <select (change)="getListUser(0, quantity)" [(ngModel)]="quantity" class="form-control form-control-sm">
                          <option value="{{quantity}}" *ngFor="let quantity of quantityOption">{{quantity}}</option>
                        </select> tài khoản</label>
                    </div>
                  </div>
                  <!--div class="col-sm-12 col-md-6">
                    <div class="dataTables_filter">
                      <label>Tìm kiếm:
                        <input type="text" [(ngModel)]="searchText" class="form-control form-control-sm" placeholder=""
                          (input)="search()">
                      </label>
                    </div>
                  </div-->
                </div>
                <div class="row">
                  <table id="zero_config" #zeroConfig class="table table-striped table-bordered dataTable">
                    <thead>
                      <tr>
                        <th class="th-bold"
                          [ngClass]="{'sorting': !sortOption['id'], 'sorting_asc': sortOption['id'] && isAsc, 'sorting_desc': sortOption['id'] && !isAsc}"
                          (click)="sort('id')">
                          <span>#ID</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['username'], 'sorting_asc': sortOption['username'] && isAsc, 'sorting_desc': sortOption['username'] && !isAsc}"
                          (click)="sort('username')">
                          <span>Tên Thành viên</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['month'], 'sorting_asc': sortOption['month'] && isAsc, 'sorting_desc': sortOption['month'] && !isAsc}"
                          (click)="sort('month')">
                          <span>Thời Gian</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['bankname'], 'sorting_asc': sortOption['bankname'] && isAsc, 'sorting_desc': sortOption['bankname'] && !isAsc}"
                          (click)="sort('bankname')">
                          <span>Tên Ngân Hàng</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['bankaddress'], 'sorting_asc': sortOption['bankaddress'] && isAsc, 'sorting_desc': sortOption['bankaddress'] && !isAsc}"
                          (click)="sort('bankaddress')">
                          <span>Địa Chỉ Ngân Hàng</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['bankaccountholder'], 'sorting_asc': sortOption['bankaccountholder'] && isAsc, 'sorting_desc': sortOption['bankaccountholder'] && !isAsc}"
                          (click)="sort('bankaccountholder')">
                          <span>Chủ Ngân Hàng</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['bankaccount'], 'sorting_asc': sortOption['bankaccount'] && isAsc, 'sorting_desc': sortOption['bankaccount'] && !isAsc}"
                          (click)="sort('bankaccount')">
                          <span>Số TK</span>
                        </th>
                        <th class="th-bold" 
                        [ngClass]="{'sorting': !sortOption['status'], 'sorting_asc': sortOption['status'] && isAsc, 'sorting_desc': sortOption['status'] && !isAsc}"
                          (click)="sort('status')">
                          <span>Trạng Thái</span>
                        </th>
                        <th class="th-bold">Thao tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let items of listUser">
                        <td>{{ items.id}}</td>
                        <td>{{ items.username}}</td>
                        <td>{{ items.monthday}}/{{ items.yearfull}}</td>
                        <td>{{ items.bankname}}</td>
                        <td>{{ items.bankaddress}}</td>
                        <td>{{ items.bankaccountholder}}</td>
                        <td>{{ items.bankaccount}}</td>
                        <td>{{ items.status}}</td>
                        <td class="button-wrapper" >
                          <button *ngIf="!items.statusv1" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Modal1" (click)="selectItem(items)">Duyệt</button>
                          <button *ngIf="!items.statusv1" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Modal2" (click)="selectItem(items)"
                            >Từ Chối</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="row" *ngIf="listUser.length">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="zero_config_info" role="status" aria-live="polite">Hiện
                      {{minEntries}} đến {{maxEntries}} trên {{totalCount}} yêu cầu</div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="zero_config_paginate">
                      <ul class="pagination">
                        <li class="paginate_button page-item previous" [ngClass]="{'disabled': currentPage === 0}" id="zero_config_previous">
                          <a href="javascript:void(0)" class="page-link" (click)="getListHistory(currentPage - 1, quantity)">Lui</a>
                        </li>
                        <li class="paginate_button page-item" ngClass="{{page.class}}" *ngFor="let page of pageArr">
                          <a href="javascript:void(0)" class="page-link" (click)="getListHistory(page.index - 1, quantity)">{{page.index}}</a>
                        </li>
                        <li class="paginate_button page-item next" [ngClass]="{'disabled': currentPage + 1 === pageCount}">
                          <a href="javascript:void(0)" class="page-link" (click)="getListHistory(currentPage + 1, quantity)">Tới</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End footer -->
  <!-- ============================================================== -->
</div>

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn duyệt yêu cầu rút tiền?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
            <label for="recipient-name" class="col-form-label">Tài khoản:</label>
            {{ username }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tên Ngân Hàng:</label>
            {{ bankname }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Địa Chỉ Ngân Hàng:</label>
            {{ bankaddress }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Chủ Ngân Hàng:</label>
            {{ bankaccountholder }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Số TK:</label>
            {{ bankaccount }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Số Tiền:</label>
            {{ amount }}
          </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="approve()">Duyệt</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true ">
  <div class="modal-dialog" role="document ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Bạn muốn từ chối yêu cầu rút tiền?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tài khoản:</label>
            {{ username }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Tên Ngân Hàng:</label>
            {{ bankname }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Địa Chỉ Ngân Hàng:</label>
            {{ bankaddress }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Chủ Ngân Hàng:</label>
            {{ bankaccountholder }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Số TK:</label>
            {{ bankaccount }}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Số Tiền:</label>
            {{ amount }}
          </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reject()">Từ Chối</button>
      </div>
    </div>
  </div>
</div>